.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

div .row marketing{
    width: 100%;
}
div #qrcode{
    float: right;
   
}

div #promo{
    float: left;
}

.footer > p{
    text-align: center;
}

#loadingImage{
    width: 40%;
    height:30%
}

h3{
    text-align: center;
}